.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;																																																																																																																																																																																																																																																																																																																																																														  														
}

mat-card-title {
	min-height: 40px;
}																																																																														

mat-card-content.mat-card-content {
    min-height: 100px;
}