<div class="container">
  <h1>Edit Book</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateBook(Item._id)" #bookForm="ngForm">
        <div class="form-group">
          <label for="name">Item Name</label>
          <input type="text" class="form-control" [(ngModel)]="Item.itemName" name="itemName" required>
        </div>
        <div class="form-group">
          <label for="name">Short Desc</label>
          <input type="text" class="form-control" [(ngModel)]="Item.shortDesc" name="shortDesc" required>
        </div>
        <div class="form-group">
          <label for="name">Item Image</label>
          <input type="text" class="form-control" [(ngModel)]="Item.itemImage" name="itemImage" required>
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <input type="number" class="form-control" [(ngModel)]="Item.description" name="description" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
